<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login Page</title>
    <!-- CSS files -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <!-- font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Mali:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- All scripts file -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <header>
      <h1>Welcome to LORE!</h1>
    </header>
    <div class="login-card-container">
      <wired-card elevation="5" class="login-card">
        <form action="/login" method="POST" class="login-form">
          <div class="email-input">
            <label for="">Your email</label>
            <input type="email" name="email" class="input" />
          </div>
          <div class="email-input">
            <label for="">Your password</label>
            <input type="password" name="password" class="input" />
          </div>
          <input type="submit" class="submit" value="continue" />
        </form>
      </wired-card>
    </div>
  </body>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script src="https://unpkg.com/wired-elements/lib/wired-elements-iife.js"></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"
  ></script>
</html>
